.container {
  
    width: 100%; /* Ensures it takes full width up to the max-width */
    margin: 0 auto; /* Centers the container horizontally */
  margin-top:20px;
   
}



.underline-offset-8 {
    text-underline-offset: 8px;
}





.full-screen-black {
    background-color: #000000;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
}

